<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartMaintainancePortal</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.project.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentRegistration</display-name>
    <servlet-name>DepartmentRegistration</servlet-name>
    <servlet-class>com.project.controller.DepartmentRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentRegistration</servlet-name>
    <url-pattern>/DepartmentRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.project.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.project.user.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoadMaintenance</display-name>
    <servlet-name>RoadMaintenance</servlet-name>
    <servlet-class>com.project.controller.RoadMaintenance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoadMaintenance</servlet-name>
    <url-pattern>/RoadMaintenance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserComplaints</display-name>
    <servlet-name>UserComplaints</servlet-name>
    <servlet-class>com.project.user.UserComplaints</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserComplaints</servlet-name>
    <url-pattern>/UserComplaints</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentLogin</display-name>
    <servlet-name>DepartmentLogin</servlet-name>
    <servlet-class>com.project.department.DepartmentLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentLogin</servlet-name>
    <url-pattern>/DepartmentLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewDepartmentComplaint</display-name>
    <servlet-name>ViewDepartmentComplaint</servlet-name>
    <servlet-class>com.project.department.ViewDepartmentComplaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDepartmentComplaint</servlet-name>
    <url-pattern>/ViewDepartmentComplaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserComment</display-name>
    <servlet-name>UserComment</servlet-name>
    <servlet-class>com.project.user.UserComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserComment</servlet-name>
    <url-pattern>/UserComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>com.project.user.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddHelpLine</display-name>
    <servlet-name>AddHelpLine</servlet-name>
    <servlet-class>com.project.user.AddHelpLine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHelpLine</servlet-name>
    <url-pattern>/AddHelpLine</url-pattern>
  </servlet-mapping>
</web-app>